# WalletConnect/Reown Project ID
NEXT_PUBLIC_PROJECT_ID=

# Contract Addresses
# Mantle Mainnet
NEXT_PUBLIC_VAULT_ADDRESS_MAINNET=
NEXT_PUBLIC_VERIFIER_ADDRESS_MAINNET=

# Mantle Testnet (Sepolia)
NEXT_PUBLIC_VAULT_ADDRESS_TESTNET=
NEXT_PUBLIC_VERIFIER_ADDRESS_TESTNET=
