# WalletConnect/Reown Project ID
NEXT_PUBLIC_PROJECT_ID=

# Contract Addresses
# Mantle Mainnet
NEXT_PUBLIC_VAULT_ADDRESS_MAINNET=
NEXT_PUBLIC_VERIFIER_ADDRESS_MAINNET=

# Mantle Testnet (Sepolia)
NEXT_PUBLIC_VAULT_ADDRESS_TESTNET=
NEXT_PUBLIC_VERIFIER_ADDRESS_TESTNET=

# Rarimo ZK Passport Integration
# Rarimo Verificator Service URL (for generating ZK proofs)
NEXT_PUBLIC_RARIMO_VERIFICATOR_URL=https://api.app.rarime.com

# Rarimo Relayer API URLs (for state replication)
NEXT_PUBLIC_RELAYER_API_URL_MAINNET=http://localhost:8080
NEXT_PUBLIC_RELAYER_API_URL_TESTNET=http://localhost:8080

# Rarimo Contract Addresses on Mantle Mainnet
NEXT_PUBLIC_MAINNET_REGISTRATION_SMT_REPLICATOR_ADDRESS=
NEXT_PUBLIC_MAINNET_ZK_KYC_RARIMO_ADDRESS=

# Rarimo Contract Addresses on Mantle Sepolia Testnet
NEXT_PUBLIC_TESTNET_REGISTRATION_SMT_REPLICATOR_ADDRESS=
NEXT_PUBLIC_TESTNET_ZK_KYC_RARIMO_ADDRESS=

# Rarimo Configuration on Rarimo Mainnet (ref: https://docs.rarimo.com/zk-passport/contracts/#deployments)
NEXT_PUBLIC_RARIMO_SOURCE_SMT_ON_RARIMO_MAINNET="0x479F84502Db545FA8d2275372E0582425204A879"
